[Unit]
Description=Space Balloon Template

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/template/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
