[Unit]
Description=space balloon GPS

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/gps/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
