[Unit]
Description=space balloon backup
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/backup/start.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
