[Unit]
Description=space balloon thermal cam
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/thermal/start.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
