[Unit]
Description=space balloon cammanager
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/cammanager/start.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
