.main-container {
  	width: 100%;
  	height: 100%;
  	position: absolute;
    color: #FFFFFF;
}
#pos {
  	position: relative;
    display: flex;
  	flex-direction: column;
    align-items: center;
}
body {
  	margin: 0px;
}
#height, #height * {
    padding-top: 5px;
    font-weight: 500;
    line-height: 1;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}
#speed, #speed * {
    padding-top: 2px;
  	font-weight: 300;
  	font-size: 18px;
    line-height: 1;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    overflow: hidden;
}
