.main-container {
  	width: 100%;
  	height: 100%;
    display: flex;
    justify-content: center;
  	align-items: center;
    color: #FFFFFF;
}
body {
  	margin: 0px;
}
#time {
  	font-weight: 700;
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 145px;
    overflow: hidden;
}
