[Unit]
Description=space balloon datamanager
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/datamanager/start.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
