# SPACE BALLOON CONFIGURATION

# config version (do not touch)
version: 9

# sensor custom I2C bus
bus:
  adc: 1
  co2: 5
  gps: 4
  magnet: 6

# sensor read interval (timeout in seconds)
interval:
  adc: 1
  climate: 1
  co2: 1
  magnet: 1
  spectral: 1
  system: 1

# all webcams with their index
webcams:
  0: 0
  1: 2
  2: 4
  3: 6
  4: 8

# sensor data and video storage
storage:
  sensor:
    default:
      path: ./data/sensor
  video:
    path: ./data/video
    backups: []
