# SPACE BALLOON CONFIGURATION

# config version (do not touch)
version: 6

# sensor custom I2C bus
bus:
  co2: 5
  gps: 4
  magnet: 6

# sensor read interval (timeout in seconds)
interval:
  climate: 1
  co2: 1
  magnet: 1
  spectral: 1
  system: 1

# sensor data and video storage
storage:
  sensor:
    default:
      path: ./data/sensor
  video:
    default:
      path: ./data/video
      width: 854
      height: 480
