# --------------------------------
# Space balloon configuration file
# --------------------------------

# Configuration version (do not touch)
version: 1

# Sensor reading interval in seconds
interval:
  gps: 1
  temp: 4

# Sensor data and video storage paths
paths:
  sensor:
  - ./data/sensor
  video:
  - ./data/video
