[Unit]
Description=space balloon system
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/system/start.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
