[Unit]
Description=space balloon webcam 1

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/webcam/start.sh 1
Restart=always

[Install]
WantedBy=multi-user.target
