[Unit]
Description=space balloon webcam 2
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/webcam/start.sh 2
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
