[Unit]
Description=space balloon webcam 4
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/webcam/start.sh 4
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
