[Unit]
Description=space balloon webcam 0

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/webcam/start.sh 0
Restart=always

[Install]
WantedBy=multi-user.target
