[Unit]
Description=space balloon spectral

[Service]
Type=simple
ExecStart=/home/maker/SpaceBalloon/spectral/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
