* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #FFF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Courier, "Courier New", monospace;
}

#error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 0.9rem;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}
