* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #FFF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ol {
    list-style-position: inside;
}

ol > li {
    padding-bottom: 1rem;
}

#error {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

#error > * {
    padding-bottom: 2rem;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}
